 :root {
    --color-blue-green: #1D2F30;
    --color-white: #FFFFFF;
 }
 
 body {
    display: flex;
    background-color: #1D2F30;
    height: 2395px;
    width: 1920px;
}
 header {
    display: flex;
    height: 60px;
    width: 1920px;
}
.header-logo1 {
    display: flex;
    height: 20px;
    width: 65px;
            /*UP RIGHT DOWN LEFT*/
    margin: 20px 125px 20px 405px;
}
.header-window-text1 {
    display: flex;
    height: 24px;
    width: 512px;
    gap: 64px;
    padding: 0;
            /*UP RIGHT DOWN LEFT*/
    margin: 17px 0px 18px 0px;
}

.header-search {
    display: flex;
    height: 24px;
    width: 24px;
            /*UP RIGHT DOWN LEFT*/
    margin: 18px 64px 18px 296px;
}
.header-sing-in {
    display: flex;
    height: 24px;
    width: 24px;
          /*UP RIGHT DOWN LEFT*/
    margin: 18px 405px 18px 0px;
}