
/*Header*/

/*Custom fonts*/

@font-face {
    font-family: 'Poppin';
    src: url(../FONTS/Poppins-Regular.woff2);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

:root{

    /*Project color*/
    --color-medium-beige: #645C55;
    --color-dark-beige: #403E3B;
    --color-white: #FFFFFF;
    --color-light-beige: #ECE7E4;
    --color-light-black: #1B1A1A;

    /*Project fonts*/
    --font-family-base: 'Poppin';


}

body{
    width: 1440px;
    height: 6411px;
    font-family: var(--font-family-base);
    background-color: var(--color-white)
}

/*Header*/

header {
    width: 1440px;
    height: 90px;
}

.header-main {
    display:flex;
            /*UP RIGHT DOWN LEFT*/
    margin: 0px 120px 0px 120px;
    width: 1200px;
    height: 90px;

}

/*Images*/

.header-window {
    display: flex;
    height: 50px;
    width: 585px;
            /*UP RIGHT DOWN LEFT*/
    margin: 20px 595px 20px 20px;
}

.logo-header {
            /*UP RIGHT DOWN LEFT*/
    margin: 36px 343px 35px 32px;
}


/*Header Text*/

.text-header {
    display: flex;
    column-gap: 32px;
    padding: 0;
            /*UP RIGHT DOWN LEFT*/
    margin: 13px 31px 13px 0px;
}

/*Header end*/

/*Main*/
 
/*Page 1*/

.first-page1 {
    display: flex;
    justify-content: flex-end;
    background-color: #ECE7E4;
    width: 1440px;
    height: 720px;
}

.first-window1 {
    width: 600px;
    height: 566px;
    order: -1;
            /*UP RIGHT DOWN LEFT*/
    margin: 77px 60px 77px 60px;
}

.first-text1 {
    color:#645C55;
    letter-spacing: 2px;
    font-size: 14px;
            /*UP RIGHT DOWN LEFT*/
    margin: 60px 370px 20px 40px;
}

.second-text1 {
    color:#1B1A1A;
    display: flex;
    line-height: 70px;
    font-size: 64px;
            /*UP RIGHT DOWN LEFT*/
    margin: 0px 143px 0px 40px;
}

.third-text1 {
    color: #645C55;
    display: flex;
    font-size: 16px;
            /*UP RIGHT DOWN LEFT*/
    margin: 18px 51px 30px 40px;
}

.second-window1 {
    width: 133px;
    height: 46px;
            /*UP RIGHT DOWN LEFT*/
    margin: 18px 0px 40px 45px;
}

.four-text1 {
    color :#1B1A1A;
    font-size: 16px;

}

/*Page 1 end*/

/*Page 2*/

.first-page2 {
    display: flex;
    width: 768px;
    height: 582px;
            /*UP RIGHT DOWN LEFT*/
    margin: 100px 336px 100px 336px;
}

/* Text block*/

.first-text2 {
    color:#403E3B;
    display: flex;
    flex-flow: column;
    gap: 10px;
    padding: 0;
            /*UP RIGHT DOWN LEFT*/
    margin: 0px 0px 0px 133px;
    width: 501px;
    height: 582px;
}


.first-logo2 {
    display: flex;

    font-size: 32px;
        /*UP RIGHT DOWN LEFT*/
 margin: 0px px 548px 133px;
}

.basement-text-and-images2 {
    display: flex;
    width: 500px;
    height: 100px;
}

.first-image2 {   
    display: flex;
    align-items: center;
    width: 84px;
    height: 84px;
            /*UP RIGHT DOWN LEFT*/
    margin: 8px 0px 8px 0px;
}

.second-image2 {
    display:flex;
    padding: 0;
    width: 196px;
    height: 100px;
}

.text-in-basement {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 0;
    max-width: 136px;
    max-height: 37px;
            /*UP RIGHT DOWN LEFT*/
    margin: 30px 30px 33px 30px;
}

.text-basement-color1 {
    color: #1B1A1A;
    font-size: 17px;

}

.text-basement-color2 {
    color: #645C55;
    font-size: 14px;

}

/*Page 2 end*/

.first-page3 {
    background-color: #403E3B;
    display: flex;
    width: 1440px;
    height: 600px;
}

.first-window3 {
    position: absolute;
    display: flex;
    width: 300px;
    height: 600px;
            /*UP RIGHT DOWN LEFT*/
    margin: 0px 60px 0px 1080px;
}

.first-in-window3 {
    color: #645C55;
    flex-flow: column;
    display: flex;
    width: 285px;
    height: 68px;
            /*UP RIGHT DOWN LEFT*/
    margin: 266px 60px 266px 0px;
}

.first-logo-in-window3 {
    font-size: 14px;
}

.first-text-in-window3 {
    font-size: 16px;
}