.img1 {
    max-width: 1440px;
    max-height: 90px;
    display: flex;
}
.img2 {
display: flex;
justify-content: flex-end;
}
.text1 {
display: flex;
justify-content: flex-end;
height: 100%;
gap: 32px;
}
/*Fonts*/
.wsr {
    font-family: 'Poppins';
    font-weight: 500;
    font-style: normal;
}

.ws {
    font-family: 'Poppins';
    font-weight: normal;
    font-style: normal;
}