@font-face {
    font-family: 'Roboto';
    src: url(../FONT/Roboto-Regular.woff2);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

:root {
    --color-light-gray: #EBEBEB;
    --color-grey-blue: #4C5866;
    --color-light-gray: #85859B;
    --color-light-purple: #7875FE;
    --color-dark-grey: #666666;
    --color-holy-grey: #B5B5BD;

    --font-family-base: 'Roboto';
}

body {
    height: 3234px;
    width: 1440px;
    background-color: #EBEBEB;
    font-family: var(--font-family-base);
}

header {
    display: flex;
    background-color: white;
    height: 80px;
    width: 1440px;
}

footer {
       background-color: white;
    height: 101px;
    width: 1440px;
}

/*Header*/

.header-logo {
    display: flex;
    min-height: 22px;
    min-width: 140px;
            /*UP RIGHT DOWN LEFT*/
    margin: 29px 296px 29px 165px;

}

.header-menu {
    display: flex;
    justify-content: center;
    color:#4C5866;
    gap: 60px;
    padding: 0px;
    height: 24px;
    width: 674px;
            /*UP RIGHT DOWN LEFT*/
    margin: 28px 165px 28px 0px;
}

.header-menu-icon {
    display: flex;
    height: 24px;
    width: 78px;
    gap: 30px;
    padding: 0px;
}

/*Header end*/


/*Page 1*/

.main-image-wd1 {
    display: flex;
    background-color: white;
    height: 620px;
    width: 1440px;
}

.main-image1 {
    height: 560px;
    width: 540px;
            /*UP RIGHT DOWN LEFT*/
    margin: 60px 165px 0px 0px;
}

.main-image-text-wd1 {
    display: flex;
    flex-flow: column;
    padding: 0px;
    row-gap: 30px;
    height: 361px;
    width: 445px;
             /*UP RIGHT DOWN LEFT*/
    margin: 130px 125px 129px 165px;
}

.main-image-text1 {
    height: 120px;
    width: 444px;
    line-height: 60px;
    font-size: 60px;
    color: #4C5866;
}

.main-image-undertext1-wd {
    padding: 0px;
    height: 110px;
    width: 445px;

}

.main-image-undertext1 {
    font-size: 18px;
    line-height: 150%;
    color: #85859B;
}

.main-image-buttom1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color:#7875FE;
    font-size: 20px;
    border: 1px solid #7875FE;
    height: 70px;
    width: 255px;
}

/*Page 2*/

.main-page2 {
    display: flex;
    flex-flow: column;
    row-gap: 90px;
    height: 793px;
    width: 1110px;
            /*UP RIGHT DOWN LEFT*/
    margin: 90px 165px 90px 165px;
}

/*First group images in page 2*/

.main-first-image2 {
    display: flex;
    gap: 30px;
    height: 139px;
    width: 1110px;

}

.main-textcolor2 {
    color: #666666;
}

.main-undertextcolor2 {
    color:#85859B;
}


/*First image in group 1*/

.main-first-inimage2 {
    display: flex;
    align-items: flex-end;
    height: 139px;
    width: 350px;
}    

.main-first-underinimage2 {
    display: flex;
    gap: 30px;
    height: 119px;
    width: 350px;  
}

.main-first-underimage2 {
    display: flex;
    height: 118px;
    width: 160px; 

}

.main-first-undertext2 {
    display: flex;
    flex-flow: column;
    line-height: 25px;
    padding: 0px;
    height: 81px;
    width: 160px;
}

/*Second image in group 1*/

.main-second-inimage2 {
    display: flex;
    align-items: flex-end;
    height: 139px;
    width: 350px;
}

.main-second-underinimage2 {
    display: flex;
    gap: 30px;
    height: 119px;
    width: 350px;  
}

.main-second-underimage2 {
    display: flex;
    height: 118px;
    width: 160px; 
}

.main-second-undertext2 {
    display: flex;
    flex-flow: column;
    line-height: 25px;
    padding: 0px;
    height: 81px;
    width: 160px;
}

/*Third image in group 1*/

.main-third-inimage2 {
    display: flex;
    align-items: flex-end;
    height: 139px;
    width: 350px;   
}

.main-third-underinimage2 {
    display: flex;
    gap: 30px;
    height: 119px;
    width: 350px;  
}

.main-third-underimage2 {
    display: flex;
    height: 118px;
    width: 160px; 
}

.main-third-undertext2 {
    display: flex;
    flex-flow: column;
    line-height: 25px;
    padding: 0px;
    height: 81px;
    width: 160px;
}

/*Second group image in page 2*/

.main-second-image2-1 {
    display: flex;
    height: 564px;
    width: 1110px;
}

.main-second-text-wd2-1 {
    display: flex;
    flex-flow: column;
    row-gap: 30px;
    padding: 0px;
    height: 445px;
    width: 350px;
}

.main-second-textlogo2-1 {
    display: flex;
    align-items:center;
    color: #666666;
    height: 74px;
    width: 350px;
    font-size: 40px;
    line-height: 40px;

}

.main-second-text2-1 {
    display: flex;
    align-items: flex-start;
    font-size: 18px;
    line-height: 30px;
    color: #85859B;
}

/*Page 3*/

.main-page3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    gap: 30px;
    height: 645px;
    width: 1440px;

}

/*Font settings*/

.main-third-text-logo3 {
    color:#666666;
    font-size: 30px;

}

.main-third-text-underlogo3 {
    color: #B5B5BD;
    font-size: 14px;

}

.main-third-text-base3 {
    color: #85859B;
    line-height: 33px;
    font-size: 18px;
}

/*Images settings*/

.main-third-images-background {
    display: flex;
    justify-content: center;
    align-items: end;
    height: 180px;
    width: 255px;
    background-color: #EBEBEB;
}


.main-third-image3-1 {
    display: block;
    flex-flow: column;
    height: 465px;
    width: 255px;

}

.main-third-image3-2 {
    display: block;
    flex-flow: column;
    height: 465px;
    width: 255px;
}

.main-third-image3-3 {
    display: block;
    flex-flow: column;
    height: 465px;
    width: 255px;    
}

.main-third-image3-4 {
    display: block;
    flex-flow: column;
    height: 465px;
    width: 255px;    
}

.main-third-image-wd3 {
    display: flex;
    flex-flow: column;
    padding: 0px;
    gap: 8px;
}

/*Button*/

.main-third-image-buttom3 {
    display: flex;
    justify-content: start;
    align-items: center;
    color:#7875FE;
    font-size: 20px;
    height: 23px;
    width: 129px;
    padding-top: 10px;
}

/*Page 4*/

.main-page4 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 135px;
    width: 1440px;
            /*UP RIGHT DOWN LEFT*/
    margin: 90px 0px 90px 0px;

}

.main-four-image-wd {
    height: 135px;
    width: 255px;
}
