@font-face {
    font-family: 'Roboto';
    src: url(../FONT/Roboto-Regular.woff2);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@media (max-width: 5000px) and (min-width: 320px) {
  
    :root {
        --color-light-gray: #EBEBEB;
        --color-grey-blue: #4C5866;
        --color-light-gray: #85859B;
        --color-light-purple: #7875FE;
        --color-dark-grey: #666666;
        --color-holy-grey: #B5B5BD;
        --color-holy-light-grey: #C4C4C4;
        --color-bad-grey: #C0C0C0;

        --font-family-base: 'Roboto';
    }

    body {
        height: 3234px;
        width: 1440px;
        background-color: #EBEBEB;
        font-family: var(--font-family-base);
    }

    header {
        display: flex;
        background-color: white;
        height: 80px;
        width: 1440px;
    }

    footer {
        display: flex;
        flex-flow: column;
        background-color: white;
        height: 101px;
        width: 1440px;
    }

    /*Header*/

    .header-logo {
        display: flex;
        min-height: 22px;
        min-width: 140px;
                /*UP RIGHT DOWN LEFT*/
        margin: 29px 296px 29px 165px;

    }

    .header-menu {
        display: flex;
        justify-content: center;
        color:#4C5866;
        gap: 60px;
        padding: 0px;
        height: 24px;
        width: 674px;
                /*UP RIGHT DOWN LEFT*/
        margin: 28px 165px 28px 0px;
    }

    .header-menu-icon {
        display: flex;
        height: 24px;
        width: 78px;
        gap: 30px;
        padding: 0px;
    }

    .header-list-mobile {
        display: none;
    }

    .header-menu-mobile{
        display: flex;
    }

    /*Header end*/


    /*Page 1*/

    .main-image-wd1 {
        display: flex;
        background-color: white;
        height: 620px;
        width: 1440px;
    }

    .main-image1 {
        height: 560px;
        width: 540px;
                /*UP RIGHT DOWN LEFT*/
        margin: 60px 165px 0px 0px;
    }

    .main-image-text-wd1 {
        display: flex;
        flex-flow: column;
        padding: 0px;
        row-gap: 30px;
        height: 361px;
        width: 445px;
                /*UP RIGHT DOWN LEFT*/
        margin: 130px 125px 129px 165px;
    }

    .main-image-text1 {
        height: 120px;
        width: 444px;
        line-height: 60px;
        font-size: 60px;
        color: #4C5866;
    }

    .main-image-undertext1-wd {
        padding: 0px;
        height: 110px;
        width: 445px;

    }

    .main-image-undertext1 {
        font-size: 18px;
        line-height: 150%;
        color: #85859B;
    }

    .main-image-buttom1 {
        display: flex;
        justify-content: center;
        align-items: center;
        color:#7875FE;
        font-size: 20px;
        border: 1px solid #7875FE;
        height: 70px;
        width: 255px;
    }

    /*Page 2*/

    .main-page2 {
        display: flex;
        flex-flow: column;
        row-gap: 90px;
        height: 793px;
        width: 1110px;
                /*UP RIGHT DOWN LEFT*/
        margin: 90px 165px 90px 165px;
    }

    /*First group images in page 2*/

    .main-first-image2 {
        display: flex;
        gap: 30px;
        height: 139px;
        width: 1110px;

    }

    .main-textcolor2 {
        color: #666666;
    }

    .main-undertextcolor2 {
        color:#85859B;
    }


    /*First image in group 1*/

    .main-first-inimage2 {
        display: flex;
        align-items: flex-end;
        height: 139px;
        width: 350px;
    }    

    .main-first-underinimage2 {
        display: flex;
        gap: 30px;
        height: 119px;
        width: 350px;  
    }

    .main-first-underimage2 {
        display: flex;
        height: 118px;
        width: 160px; 

    }

    .main-first-undertext2 {
        display: flex;
        flex-flow: column;
        line-height: 25px;
        padding: 0px;
        height: 81px;
        width: 160px;
    }

    /*Second image in group 1*/

    .main-second-inimage2 {
        display: flex;
        align-items: flex-end;
        height: 139px;
        width: 350px;
    }

    .main-second-underinimage2 {
        display: flex;
        gap: 30px;
        height: 119px;
        width: 350px;  
    }

    .main-second-underimage2 {
        display: flex;
        height: 118px;
        width: 160px; 
    }

    .main-second-undertext2 {
        display: flex;
        flex-flow: column;
        line-height: 25px;
        padding: 0px;
        height: 81px;
        width: 160px;
    }

    /*Third image in group 1*/

    .main-third-inimage2 {
        display: flex;
        align-items: flex-end;
        height: 139px;
        width: 350px;   
    }

    .main-third-underinimage2 {
        display: flex;
        gap: 30px;
        height: 119px;
        width: 350px;  
    }

    .main-third-underimage2 {
        display: flex;
        height: 118px;
        width: 160px; 
    }

    .main-third-undertext2 {
        display: flex;
        flex-flow: column;
        line-height: 25px;
        padding: 0px;
        height: 81px;
        width: 160px;
    }

    /*Second group image in page 2*/

    .main-second-image-wd2-1 {
        display: flex;
        height: 564px;
        width: 1110px;
    }

    .main-second-image2-1 {
        display: flex;
        height: 564px;
        width: 1110px;
    }

    .main-second-text-wd2-1 {
        display: flex;
        flex-flow: column;
        row-gap: 20px;
        padding: 0px;
        height: 445px;
        width: 350px;
    }

    .main-second-textlogo2-1 {
        display: flex;
        align-items:center;
        color: #666666;
        height: 74px;
        width: 350px;
        font-size: 40px;
        line-height: 40px;

    }

    .main-second-text2-1 {
        display: flex;
        align-items: flex-start;
        font-size: 18px;
        line-height: 30px;
        color: #85859B;
    }

    /*Page 3*/

    .main-page3 {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        gap: 30px;
        height: 645px;
        width: 1440px;

    }

    /*Font settings*/

    .main-third-text-logo3 {
        color:#666666;
        font-size: 30px;

    }

    .main-third-text-underlogo3 {
        color: #B5B5BD;
        font-size: 14px;

    }

    .main-third-text-base3 {
        color: #85859B;
        line-height: 33px;
        font-size: 18px;
    }

    /*Images settings*/

    .main-third-images-background {
        display: flex;
        justify-content: center;
        align-items: end;
        height: 180px;
        width: 255px;
        background-color: #EBEBEB;
    }


    .main-third-image3-1 {
        display: block;
        flex-flow: column;
        height: 465px;
        width: 255px;

    }

    .main-third-image3-2 {
        display: block;
        flex-flow: column;
        height: 465px;
        width: 255px;
    }

    .main-third-image3-3 {
        display: block;
        flex-flow: column;
        height: 465px;
        width: 255px;    
    }

    .main-third-image3-4 {
        display: block;
        flex-flow: column;
        height: 465px;
        width: 255px;    
    }

    .main-third-image-wd3 {
        display: flex;
        flex-flow: column;
        padding: 0px;
        gap: 8px;
    }

    /*Button*/

    .main-third-image-buttom3 {
        display: flex;
        justify-content: start;
        align-items: center;
        color:#7875FE;
        font-size: 20px;
        height: 23px;
        width: 129px;
        padding-top: 10px;
    }

    /*Page 4*/

    .main-page4 {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px;
        gap: 30px;
        height: 135px;
        width: 1440px;
                /*UP RIGHT DOWN LEFT*/
        margin: 90px 0px 90px 0px;

    }

    .main-four-image-wd4 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 135px;
        width: 255px;
        border: 0.5px solid #C4C4C4;
    }

    /*Page 5*/

    .main-page5 {
        display: flex;
        justify-content: center;
        background-color: white;
        gap: 30px;
        height: 500px;
        width: 1440px;
    }

    .main-five-base-image-wd5 {
        display: flex;
        padding-top: 90px;
        height: 410px;
        width: 730px;
    }

    .main-five-image-wd5 { 
        display: flex;
        flex-flow: column;
        padding: 0px;
        padding-top: 90px;
        height: 272px;
        width: 350px;
    }

    .main-five-text-base5 {
        color: #85859B;
        line-height: 33px;
        font-size: 18px;
    }

    .main-five-text-logo5 {
        color:#666666;
        font-size: 40px;
    }

    .main-five-text-button-wd5 {
        display: flex;
        padding-top: 30px;
        height: 70px;
        width: 255px;

    }

    .main-five-text-button5 {
        display: flex;
        justify-content: center;
        align-items: center;
        color:#7875FE;
        border: 1px solid #7875FE;
        font-size: 20px;
        padding: 0px;
        height: 70px;
        width: 255px;

    }

    /*Footer*/

    .footer-wd {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #4C5866;
        gap: 787px;
        height: 80px;
        width: 1440px;
    }

    .footer-images {
        display: flex;
        gap: 30px;
        padding: 0px;
        height: 24px;
        width: 186px;
    }

    .footer-logo {
        display: flex;
        align-items: center;
        height: 22px;
        width: 140px;
    }

    .end-logo {
        display: flex;
        height: 15px;
        width: 92px;

    }
}

@media (max-width: 321px) and (min-width: 0px){

        :root {
        --color-light-gray: #EBEBEB;
        --color-grey-blue: #4C5866;
        --color-light-gray: #85859B;
        --color-light-purple: #7875FE;
        --color-dark-grey: #666666;
        --color-holy-grey: #B5B5BD;
        --color-holy-light-grey: #C4C4C4;

        --font-family-base: 'Roboto';
    }

    body {
        height: 4485px;
        width: 320px;
        background-color: #EBEBEB;
        font-family: var(--font-family-base);
    }

    header {
        flex-flow: column;
        background-color: white;
        height: 105px;
        width: 320px;
    }

    footer {
        display: none;
        flex-flow: column;
        background-color: white;
        height: 148px;
        width: 320px;
    }

    /*Header*/

    .header-menu-mobile {
        height: 79px;
        width: 320px;
        row-gap: 30px;
    }

    .header-menu-text {
        display: none;
    }

    .header-logo {
        display: flex;
        justify-content: center; 
    }
    
    .header-menu {
        display: flex;
        justify-content: center;
        gap: 182px;
        padding: 0px;
        height: 30px;
        width: 320px;
    }

    .header-list-mobile {
        display: flex;
        height: 30px;
        width: 30px;
    }

    .header-menu-icon {
        display: flex;
        padding: 0px;
        height: 24px;
        width: 78px;
        gap: 30px;
    }


    /*Page 1*/

    .main-image-wd1 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
        background-color: white;
        height: 328px;
        width: 320px;
    }

    .main-image-text-wd1 {
        display: flex;
        flex-flow: column;
        gap: 15px;
        padding: 0px;
        height: 230px;
        width: 286px;       

    }

    .main-image-text1 {
        display: flex;
        line-height: 30px;
        font-size: 30px;
        color: #4C5866;
    }

    .main-image-undertext1-wd {
        display: flex;
        padding: 0px;
        height: 84px;
        width: 289px;          

    }

    .main-image-undertext1 {
        font-size: 14px;
        line-height: 20px;
        color: #85859B;
    }

    .main-image-buttom1 {
        display: flex;
        justify-content: center;
        align-items: center;
        color:#7875FE;
        font-size: 18px;
        border: 1px solid #7875FE;
        height: 50px;
        width: 144px;
    }

    .main-image1 {
        display: none;
    }

    /*Page 2*/


    .main-page2 { 
        display: flex;
        justify-content: end;
        flex-flow: column;
        row-gap: 60px;
        height: 1063px;
        width: 290px;      
    }



    /*First group images in page 2*/


    .main-first-image2 {
        display: flex;
        flex-flow: column;
        row-gap: 20px;
        height: 388px;
        width: 290px;
    }

    .main-textcolor2 {
        color: #666666;

    }

    .main-undertextcolor2 {
        color:#85859B;

    }

    /*First image in group 1*/

    .main-first-inimage2 {
        display: flex; 
        align-items: flex-end;     
        padding-top: 19px;
        height: 116px;
        width: 290px; 
        border-top: 0.5px solid #C0C0C0;
        
    }

    .main-first-underimage2 {
        display: flex;
        height: 96px;
        width: 130px; 

    }

    .main-first-underinimage2 {
        display: flex;
        gap: 30px;        
        height: 96px;
        width: 130px; 
    }

    .main-first-undertext2 {
        display: flex;
        flex-flow: column;
        line-height: 20px;    
        font-size: 14px;   
        padding: 0px;
        height: 72px;
        width: 130px;
    }

    /*Second image in group 1*/

    .main-second-image2 {
        display: flex;
        height: 116px;
        width: 290px;
    }

    .main-second-inimage2 {
        display: flex;
        align-items: end; 
        padding-top: 19px;       
        height: 116px;
        width: 290px; 
        border-top: 0.5px solid #C0C0C0;

    }

    .main-second-underimage2 {
        display: flex;
        height: 96px;
        width: 130px; 

    }

    .main-second-underinimage2 {
        display: flex;
        height: 96px;
        width: 130px; 
        gap: 30px;

    }

    .main-second-undertext2 {
        display: flex;
        flex-flow: column;
        line-height: 20px;    
        font-size: 14px;  
        padding: 0px;
        height: 72px;
        width: 130px;
    }


    /*Third image in group 1*/


    .main-third-image2 {
        display: flex;
        height: 116px;
        width: 290px;
    }

    .main-third-inimage2 {
        display: flex;
        align-items: end; 
        padding-top: 19px;
        height: 116px;
        width: 290px; 
        align-items: end;
        border-top: 0.5px solid #C0C0C0; 

    }

    .main-third-underimage2 {
        display: flex;
        height: 96px;
        width: 130px; 

    }

    .main-third-underinimage2 {
        display: flex;
        height: 96px;
        width: 130px; 
        gap: 30px;

    }

    .main-third-undertext2 {
        display: flex;
        flex-flow: column;
        line-height: 20px;    
        font-size: 14px;  
        padding: 0px;
        height: 72px;
        width: 130px;
    }

    /*Second group image in page 2*/

    .main-second-image-wd2-1 {
        display: flex;
        flex-flow: column;
        height: 615px;
        width: 290px;
    }

      .main-second-image2-1 {
        display: flex;
        height: 615px;
        width: 290px;
    }

    .main-second-text-wd2-1 {
        display: flex;
        flex-flow: column;
        row-gap: 20px;
        padding: 0px;
        height: 445px;
        width: 350px;
    }

    .main-second-textlogo2-1 {
        display: flex;
        align-items:center;
        color: #666666;
        height: 24px;
        width: 270px;
        font-size: 24px;
        line-height: 30px;

    }

    .main-second-text2-1 {
        display: flex;
        align-items: flex-start;
        line-height: 25px;    
        font-size: 14px;   
        color: #85859B;
    }

    /*Page 3*/



        .main-page3 {
        display: none;
        justify-content: center;
        align-items: center;
        background-color: white;
        gap: 30px;
        height: 645px;
        width: 1440px;

    }


     /*Page 4*/


        .main-page4 {
        display: none;
        justify-content: center;
        align-items: center;
        padding: 0px;
        gap: 30px;
        height: 135px;
        width: 1440px;
                /*UP RIGHT DOWN LEFT*/
        margin: 90px 0px 90px 0px;

    }

    /*Page 5*/

        .main-page5 {
        display: none;
        justify-content: center;
        background-color: white;
        gap: 30px;
        height: 500px;
        width: 1440px;
    }

    /*Footer*/

        .footer-wd {
        display: none;
        align-items: center;
        justify-content: center;
        background-color: #4C5866;
        gap: 787px;
        height: 80px;
        width: 1440px;
    }




















    
    
}