@media (max-width: 1920px) and (min-width: 1280px){
    img {
        width: 1440px;
        height: 750px;
    }
}
/* For FULLHD */

@media (max-width: 1280px) and (min-width: 960px){
    img {
        width: 1000px;
        height: 750px;
    }
}
/* For HD */

@media (max-width: 500px) and (min-width: 300px){
    img {
        width: 200px;
        height: 150px;
    }
}
/* For Mobile */

@media (max-width: 300px) and (min-width: 1921px){
    img {
        opacity: 0;
    }
}


